h1{
	text-align: center;
	font-size: 48pt;
}

form[name=confirm]{
	font-size: 16pt;
	margin: 0 auto;
	width: 200px;
}

form[name=back_to_login]{
	font-size: 16pt;
	margin: 0 auto;
	width: 200px;
}

p{
	text-align: center;
}